/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    color: #333;
    text-align: center;  /* Başlıkları ortalar */
}

.container {
    width: 80%;
    margin: auto;
    flex: 1;
}

.header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.main {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Ana içerik kenarlarını yuvarlatır */
}

.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-box {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    border-radius: 10px; /* Form kenarlarını yuvarlatır */
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background: #555;
}

.message {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message.success {
    background: #e0ffe0;
    color: #333;
}

.message.error {
    background: #ffe0e0;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Çıkış yap butonu */
.logout-container {
    display: flex;
    justify-content: center; /* Butonu yatayda ortalar */
    margin-top: 20px; /* Üstten boşluk ekler */
}

.btn-small-logout {
    background: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block; /* Butonu blok element yapar */
    margin: 0 auto; /* Butonu yatayda ortalar */
}

.btn-small-logout:hover {
    background: #c0392b;
}

/* Durum simgeleri */
.status-paid {
    color: green;
    font-size: 20px;
}

.status-unpaid {
    color: red;
    font-size: 20px;
}